#body_report_container section
{
    float: left;
    margin: 0px 16px 16px 16px;
    border-radius: 8px;
    padding: 16px;
    border: 1px solid #FFFFFF55;
    background-color: #FFFFFF35;
	backdrop-filter: blur(45px) saturate(450%) contrast(60%);
    box-shadow: 2px 2px 25px 10px rgba(0, 0, 0, 0.2);
}